<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} SmartTag Dashboard {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      {% block style %}{% endblock %}
    </style>
  </head>
  <body>

  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target="#navbar-items">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tag Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav">
        {% block nav %}
        <li class="active"><a href="table">Table</a></li>
        <li><a href="charts">Charts</a></li>
        <li><a href="admin">Admin</a></li>
        {% endblock %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>

  <div class="container">
  {% for message in get_flashed_messages() %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
  {% endfor %}
  {% block body %} {% endblock %}
  </div>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/jquery.flot.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  {% block js %}{% endblock %}
  </body>
</html>
